# Gradle
.gradle/
build/
**/build/
.idea/
.DS_Store
/local.properties
/.gradle/
/captures/
.externalNativeBuild
.cxx/
*.iml

# Android Studio
.navigation/
.settings/
.classpath
.project
.metadata/
.kotlin/
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear
*.swp
*.swo

# Logs
*.log

# IntelliJ
out/
.idea/*
!.idea/codeStyles
!.idea/runConfigurations

